<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">

    <link rel="author" href="humans.txt" />

    <title>{{pageTitle}}</title>

    {{{block "stylesheets"}}}

  </head>
  <body class="main">
    {{{body}}}

    {{{block "scripts"}}}
  </body>
</html>
